h1
{
    color:blue;
}

h2
{
    text-align:center;
}

.img1
{
    width:60%;
    text-align:center;
}





#t2{

        border: 1px solid black;
        border-collapse:collapse;
        }

/*emobilis*/
#img\ 2
{
    float:right;
}

h4,h5
{
    text-align:center;
}
#img3
{
    width:100%;
    float:center;
}

.container
{
  width:100%;
    float:right;
}


.h3
{
    color:yellow;
    padding-right:5px;
    padding-left:5px;

}

.sup
{
    padding-right:20px;
    list-style-type: none;
}






